.shop {
  padding: 40px;
  text-align: center;
}

.shop_item {
  background: var(--light-secondary-color);
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  border-radius: 15px;
}

.bild {
  height: 150px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.shop input, .shop select, .shop textarea {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: var(--main-brand-color);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.hinweis {
  display: none;
  color: red;
  font-size: 14px;
}

.checkbox {
  display: block;
  margin-top: 20px;
}
